@import '~antd/lib/style/themes/default.less';
@import './mixin.less';

@prefix: ~'@{ant-prefix}-form';

.@{prefix} {
  &-item-bordered {
    .item-size(@height-base, @font-size-base, @input-padding-vertical-base, @input-padding-horizontal-base);

    position: relative;
    padding: 0;
    background-color: @component-background;
    border: @border-width-base @border-style-base @border-color-base;
    border-radius: @border-radius-base;
    transition: all 0.3s;

    &.@{prefix}-item {
      &-focused {
        .active(@primary-5);
      }

      &-has-error {
        .item-status(@error-color);
      }

      &-has-warning {
        .item-status(@warning-color);
      }

      &-with-help {
        margin-bottom: @form-item-margin-bottom;
      }
    }

    .@{prefix}-item {
      &-label {
        > label {
          height: auto;
          color: @text-color;
        }

        + .@{ant-prefix}-form-item-control .@{ant-prefix} {
          &-input,
          &-input-number,
          &-input-number-input,
          &-input-affix-wrapper,
          &-picker,
          &-mentions,
          &-mentions > textarea,
          &-mentions-measure,
          &-cascader-picker-label,
          &-select-selector,
          &-color-picker {
            padding-left: 0;
          }

          &-select-selector-placeholder,
          &-color-picker-placeholder,
          &-select-selection-search {
            left: 0;
          }
        }
      }

      // &-control-input {
      //   min-height: 0;
      // }

      &-control-input-content {
        > .@{ant-prefix}-switch:only-child {
          float: right;
        }
      }

      &-explain {
        position: absolute;
      }
    }

    .@{ant-prefix} {
      &-input,
      &-input-group-addon,
      &-input-number,
      &-input-affix-wrapper,
      &-picker,
      &-cascader-picker,
      &-mentions,
      &-select-selector {
        background-color: transparent !important;
        border: none !important;
        outline: none;
      }

      &-input:focus,
      &-input-number-focused,
      &-input-affix-wrapper-focused,
      &-picker-focused,
      &-mentions-focused,
      &-cascader-picker:focus .@{ant-prefix}-cascader-input,
      &-select-focused .@{ant-prefix}-select-selector {
        box-shadow: none !important;
      }

      &-mentions > textarea {
        background-color: transparent;
      }

      &-input-number:only-child,
      &-picker:only-child {
        width: 100%;
      }
    }
  }

  &-small &-item-bordered {
    .item-size(@height-sm, @font-size-sm, @input-padding-vertical-sm, @input-padding-horizontal-sm);
  }

  &-large &-item-bordered {
    .item-size(@height-lg, @font-size-lg, @input-padding-vertical-lg, @input-padding-horizontal-lg);
  }
}

@media (max-width: @screen-sm) {
  .@{prefix} {
    & &-item {
      .@{prefix}-item {
        &-label {
          flex: 0 1 auto;

          > label::after {
            display: block;
          }
        }

        &-control {
          flex: 1 1 0;
        }
      }
    }
  }
}
